h1#main-header {
                color: blue;
}
a:link {
                color: red;
}

a:visited {
                color: black;
}
a:hover {
                color: blue;
}
a:active {
                color: green;
}